contacts.xcscheme
contacts/Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/ObjectiveRecord.xcscheme
contacts/Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/ObjectiveSugar.xcscheme
contacts/Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/Pods-contacts.xcscheme
